<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExampleVue from "./components/HelloWorldExample.vue";
import HandlingUserInputVue from "./components/HandlingUserInput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionAndLoopsVue from "./components/ConditionAndLoops.vue";
import FromBindingsVue from "./components/FromBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue />
    <br />
    <FromBindingsVue />
    <br />
    <br />
    <ConditionAndLoopsVue />
    <br /><br />
    <AttributeBindingsVue />
    <HandlingUserInputVue />
    <CalComponentVue />
    <HelloWorldExampleVue />
  </div>
</template>

<style scoped></style>
